#root{
   grid-template-columns: 20% 80%;
   display: grid;
    --prim-color:hsl(208, 49%, 29%);
    --bugcard-color:  #98DFD6;
    color:white;
    margin: -8px;
    
}

button{
    background: #E21818;
    border-radius: 5px;
    padding: 5px 20px;
    color: #98DFD6;
    font: normal bold 18px "Open Sans",sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
button:hover{
    background-color: #a31c04fa;
    transition: all 0.3s;
}
.page-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    grid-column: 2;
    margin-top: 2%;
}
